# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# !pip install scipy

In [2]:
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the San Francisco. We will start by loading the dataset and examining its contents.

In [3]:
data = pd.read_csv("../data/Salaries.csv")

C:\Users\alfon\AppData\Local\Temp\ipykernel_13372\2736844818.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("../data/Salaries.csv")

Examine the `salaries` dataset using the `head` function below.

In [4]:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Get the amount of missing data in every column

In [5]:
data.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

Get the shape of the dataframe

In [6]:
data.shape

(148654, 13)

Given output of the previous two cells, drop the corresponding column and compute again the amount of missing values.

In [7]:
data = data.drop(columns = "Notes", axis = 1)

In [8]:
data.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Agency                   0
Status              110535
dtype: int64

Check out what are the possible values of the column "Status".

In [9]:
data["Status"].unique()

array([nan, 'PT', 'FT'], dtype=object)

Drop any row with missing values in the "Status" column and compute again the number of missing values.

In [10]:
data = data[data["Status"].isna() == False]

In [11]:
data.isna().sum()

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
Status              0
dtype: int64

Check out the types of each column and see if they make sense.

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  object
 4   OvertimePay       38119 non-null  object
 5   OtherPay          38119 non-null  object
 6   Benefits          38119 non-null  object
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.8+ MB

In [13]:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.0,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.0,0.0,82313.7,96570.66,339653.70,436224.36,2014,San Francisco,PT
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.0,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.0,0.0,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

`BasePay`, `OvertimePay`, `OtherPay` and `Benefits` should all be floats, and we have to reset the index.

Do any type conversions and reset the index.

In [14]:
data[["BasePay", "OvertimePay", "OtherPay", "Benefits"]] = pd.to_numeric(data[["BasePay", "OvertimePay", "OtherPay", "Benefits"]].stack()).unstack()

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  float64
 4   OvertimePay       38119 non-null  float64
 5   OtherPay          38119 non-null  float64
 6   Benefits          38119 non-null  float64
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(6), int64(2), object(4)
memory usage: 4.8+ MB

In [16]:
data.reset_index()

,index,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
1,110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
2,110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT
3,110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
4,110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38114,148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
38115,148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
38116,148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
38117,148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
38118,148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,San Francisco,PT

Check out if "TotalPayBenefits" = "BasePay" + "OvertimePay" + "OtherPay" + "Benefits"

In [17]:
data["TotalPayBenefits"] == data["BasePay"] + data["OvertimePay"] + data["OtherPay"] + data["Benefits"]

110531     True
110532    False
110533     True
110534    False
110535     True
          ...
148645     True
148647     True
148648     True
148649     True
148653     True
Length: 38119, dtype: bool

What is the percetage of employees for which the previous assumption is not True?

In [18]:
x = data["TotalPayBenefits"] == data["BasePay"] + data["OvertimePay"] + data["OtherPay"] + data["Benefits"]

In [19]:
x.value_counts()/x.shape[0]*100

True     73.708649
False    26.291351
dtype: float64

There are different departments in the city. List all departments and the count of employees in each department.

In [20]:
pd.DataFrame(data.groupby(["JobTitle"]).size(), columns = ["Employees"])

                                Employees
JobTitle
ACPO,JuvP, Juv Prob (SFERS)             1
ASR Senior Office Specialist           22
ASR-Office Assistant                   15
Account Clerk                          93
Accountant I                            2
...                                   ...
Wire Rope Cable Maint Sprv              1
Worker's Comp Supervisor 1              6
Worker's Compensation Adjuster         26
X-Ray Laboratory Aide                  35
Youth Comm Advisor                      1

[996 rows x 1 columns]

# Challenge 2 - Hypothesis Tests

## All FT workers is significantly different from $75/hr

In this section of the lab, we will test whether the hourly wage of **all FT workers is significantly different from $75/hr**. Get first the hourly wage by dividing "TotalPayBenefits" by 50 weeks (assuming 10 labour days of holidays) and by 40hrs (assuming a 40hrs week).

$$Hourly Wage = \frac{TotalPayBenefits}{1 year}\frac{1 year}{50 Week}\frac{1 Week}{40 hr}$$

Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [21]:
# Your code here: (compute the "Hourly_Wage")

In [22]:
data["HourlyWage"] = data["TotalPayBenefits"]/(50*40)

In [23]:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,HourlyWage
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550

In [24]:
# Your code here: (Compute the mean hourly wage for all the "FT" employees)

In [25]:
data["HourlyWage"][data["Status"] == "FT"].mean()

69.264206407271

In [26]:
from scipy.stats import norm, ttest_1samp

In [27]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "FT" employees

In [28]:
hw_ft = data["HourlyWage"][data["Status"] == "FT"]

mean_hw_ft = hw_ft.mean()
std_hw_ft = np.std(hw_ft, ddof = 1)

t_statistic_hw_ft = (mean_hw_ft-75)/(std_hw_ft/np.sqrt(hw_ft.count()))
t_statistic_hw_ft

-35.80631941460788

### Method 1

Critical value. Get the critical value and compare it against your statisttic.

In [29]:
ppf_u_hw_ft = norm.ppf(1-(0.05/2))
ppf_u_hw_ft

1.959963984540054

In [30]:
ppf_l_hw_ft = norm.ppf((0.05/2))
ppf_l_hw_ft

-1.9599639845400545

In [31]:
ppf_u_hw_ft > t_statistic_hw_ft > ppf_l_hw_ft

False

Therefore we REJECT the Null Hypothesis.

### Method 2

Use the p-value method.

In [32]:
cdf_hw_ft = norm.cdf(t_statistic_hw_ft)
cdf_hw_ft

4.4031259419579245e-281

In [33]:
1-(0.05/2) > cdf_hw_ft > 0.05/2

False

Again, Null Hypothesis REJECTED.

### Method 3
Use the ttest_1samp function from scipy. 

Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)

Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
```python
!pip install -U scipy
```

In [34]:
t_stats_hw_ft = ttest_1samp(hw_ft, 75)
t_stats_hw_ft

Ttest_1sampResult(statistic=-35.80631941460526, pvalue=4.517831233839448e-273)

In [35]:
print(ppf_u_hw_ft > t_stats_hw_ft[0] > ppf_l_hw_ft)
print(1-(0.05/2) > t_stats_hw_ft[1] > 0.05/2)

False
False

Are all the methods in agreement?

## Higher than last year's mean of $86000/year

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are **higher than last year's mean of $86000/year for all salaried employees** (use the column "TotalPayBenefits". Test  hypothesis using a 95% confidence interval.

Hint: Use apply and a lambda function to check if "Police" is in the "JobTitle" to get all the "Police" jobs.

In [36]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "Police" employees

In [37]:
data["TotalPayBenefits"][data["JobTitle"].str.contains("Police")].mean()

148349.04212519721

In [38]:
pol_tpb = data["TotalPayBenefits"][data["JobTitle"].str.contains("Police")]

mean_pol_tpb = pol_tpb.mean()
std_pol_tpb = np.std(pol_tpb, ddof = 1)

t_statistic_pol_tpb = (mean_pol_tpb-86000)/(std_pol_tpb/np.sqrt(pol_tpb.count()))
t_statistic_pol_tpb

50.252984742109916

### Method 1

Critical value. Get the critical value and compare it against your statistic.

In [39]:
ppf_pol_tpb = norm.ppf(0.05)
ppf_pol_tpb

-1.6448536269514729

In [40]:
t_statistic_pol_tpb > ppf_pol_tpb

True

We accept the Null Hypothesis.

### Method 2

Use the p-value method.

In [41]:
cdf_pol_tpb = norm.cdf(t_statistic_pol_tpb)
cdf_pol_tpb

1.0

In [42]:
cdf_pol_tpb > (0.05)

True

Hypothesis accepted.

### Method 3

Use the ttest_1samp function from scipy.

Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)

Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using

```python
!pip install -U scipy
```

In [43]:
t_stats_pol_tpb = ttest_1samp(pol_tpb, 86000, alternative = "less")
t_stats_pol_tpb

Ttest_1sampResult(statistic=50.252984742109945, pvalue=1.0)

In [44]:
print(t_stats_pol_tpb[0] > ppf_pol_tpb)
print(t_stats_pol_tpb[1] > 0.05)

True
True

Accepted.

## Less than $35/hour

The workers from the "JobTitle" with the most employees have complained that their hourly wage is **less than $35/hour**. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [45]:
# Your code here: (Get the department which has most employees)

In [46]:
data.groupby(["JobTitle"]).size().sort_values(ascending = False).index[0]

'Transit Operator'

In [47]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider the right "JobTitle" employees

In [48]:
data["HourlyWage"][data["JobTitle"] == "Transit Operator"].mean()

43.35949773900775

In [49]:
to_hw = data["HourlyWage"][data["JobTitle"] == "Transit Operator"]
mean_to_hw = to_hw.mean()
std_to_hw = np.std(to_hw, ddof = 1)
t_statistic_to_hw = (mean_to_hw-35)/(std_to_hw/(np.sqrt(to_hw.count())))
t_statistic_to_hw

19.06499032490655

### Method 1

Critical value. Get the critical value and compare it against your statisttic.

In [50]:
ppf_to_hw = norm.ppf(1-0.05)
ppf_to_hw

1.6448536269514722

In [51]:
t_statistic_to_hw < ppf_to_hw

False

We REJECT the Hypothesis.

### Method 2

Use the p-value method.

In [52]:
cdf_to_hw = norm.cdf(t_statistic_to_hw)
cdf_to_hw

1.0

In [53]:
cdf_to_hw < (1-0.05)

False

Rejected.

### Method 3

Use the ttest_1samp function from scipy. 

Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)

Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using

```python
!pip install -U scipy
```

In [54]:
t_stats_to_hw = ttest_1samp(to_hw, 35, alternative = "greater")
t_stats_to_hw

Ttest_1sampResult(statistic=19.064990324906386, pvalue=5.012771694203921e-76)

In [55]:
print(t_stats_to_hw[0] < ppf_to_hw)
print(t_stats_to_hw[1] < (1-0.05))

False
True

Uhh...

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level.

## Method 1

Get the critical values which correspond to a 95% confidence.

In [56]:
np.std(data["HourlyWage"], ddof = 1)

33.117183216308376

In [57]:
hw_interval = norm.interval(0.95, data["HourlyWage"].mean())

print("Sample mean: {:.2f}".format(data["HourlyWage"].mean()))
print("Confidence interval: [{:.2f},{:.2f}]".format(hw_interval[0], hw_interval[1]))

Sample mean: 50.13
Confidence interval: [48.17,52.09]

Now compute a 95% confidence interval for the hourly salary of all the Police employees.

In [58]:
hw_p = data["HourlyWage"][data["JobTitle"].str.contains("Police")]
hw_p_interval = norm.interval(0.95, hw_p.mean())
print("Sample mean: {:.2f}".format(hw_p.mean()))
print("Confidence interval: [{:.2f},{:.2f}]".format(hw_p_interval[0], hw_p_interval[1]))

Sample mean: 74.17
Confidence interval: [72.21,76.13]

## Chi2 test

Now we want to know if the amount of full time "FT" and part time "PT" employees is equal between Lawers, Meds, Police, Firemen and other departments. 

Considering all the options in this groups of employees will be very time consuming. To simplify this process, create first a function that returns:

* "Policemen" if "Police" is found on "JobTitle"
* "Firemen" if "Fire" is found on "JobTitle"
* "Medical" if "Med" or "Nurse" is found on "JobTitle"
* "Lawyer" if "Attorney" is found on "JobTitle"
* "Other" in any other cases

Then, create a new column named "employee_group" that determines to which group belong the employee.

In [59]:
# Your code here: (Create the function)

In [60]:
def job_groups(x):
    if "Police" in x:
        x = "Policemen"
    elif "Fire" in x:
        x = "Firemen"
    elif "Med" in x or "Nurse" in x:
        x = "Medical"
    elif "Attorney" in x:
        x = "Lawyer"
    else:
        x = "Other"
        
    return x

In [61]:
# Your code here: (Apply the function)

In [62]:
data["EmployeeGroup"] = data["JobTitle"].apply(job_groups)
data["EmployeeGroup"].value_counts()

Other        30371
Medical       3917
Policemen     1901
Firemen       1511
Lawyer         419
Name: EmployeeGroup, dtype: int64

In [63]:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,HourlyWage,EmployeeGroup
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340,Other
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105,Medical
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180,Other
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610,Policemen
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550,Firemen

Determine how many "PT" and "FT" employess have all the employees groups.

In [64]:
# Your code here: (Store the output dataframe into a new variable)

In [65]:
data_jobs = pd.crosstab(data["EmployeeGroup"], data["Status"])
data_jobs

Status            FT     PT
EmployeeGroup
Firemen         1333    178
Lawyer           317    102
Medical         1028   2889
Other          18126  12245
Policemen       1530    371

Now try compute the expected frequencies doing the calculations with the individual probabilities. Remember that the Chi2 test assumes that both variables (employee_group and FT/PT) are not related (therefore they are independent). Therefore, to compute the expected frequencies you need to compute the probability of each cell and multiply it by the number of observations. ie:

$$\nu(x,y) = p(x,y) * N = p(x) * p(y) * N$$

bear in mind that in general: $p(x,y)\neq p(x)*p(y)$; the equality will only be true if x and y are independent. However, the null hypotheses says that **x and y are independent.** but that's what we're assuming with the null hypotheses.

where "x" is the "employee_group" and "y" the (FT/PT).

In [66]:
# Create an empty dataframe named "frequencies" to store the data.
# Your code here:

In [67]:
frequencies = pd.DataFrame

In [68]:
# Your code here: Compute Expected frequency of being "Firemen" and "FT". Store the solution in a variable named "firemen_ft"

In [69]:
total = data["EmployeeGroup"].count()
ft_total = data["Status"][data["Status"] == "FT"].count()
pt_total = data["Status"][data["Status"] == "PT"].count()
fire_total = data["EmployeeGroup"][data["EmployeeGroup"] == "Firemen"].count()
law_total = data["EmployeeGroup"][data["EmployeeGroup"] == "Lawyer"].count()
med_total = data["EmployeeGroup"][data["EmployeeGroup"] == "Medical"].count()
other_total = data["EmployeeGroup"][data["EmployeeGroup"] == "Other"].count()
pol_total = data["EmployeeGroup"][data["EmployeeGroup"] == "Policemen"].count()

In [70]:
firemen_ft = (fire_total*ft_total)/total
firemen_ft

885.2979878800598

In [71]:
# Your code here: Compute Expected frequency of being "Firemen" and "PT". Store the solution in a variable named "firemen_pt"

In [72]:
firemen_pt = (fire_total*pt_total)/total
firemen_pt

625.7020121199402

In [73]:
# Your code here: Compute Expected frequency of being "Lawyers" and "FT". Store the solution in a variable named "lawyers_ft"

In [74]:
lawyers_ft = (law_total*ft_total)/total
lawyers_ft

245.4929562685275

In [75]:
# Your code here: Compute Expected frequency of being "Lawyers" and "PT". Store the solution in a variable named "lawyers_pt"

In [76]:
lawyers_pt = (law_total*pt_total)/total
lawyers_pt

173.5070437314725

In [77]:
# Your code here: Compute Expected frequency of being "Medical" and "FT". Store the solution in a variable named "medical_ft"

In [78]:
medical_ft = (med_total*ft_total)/total
medical_ft

2294.978304782392

In [79]:
# Your code here: Compute Expected frequency of being "Medical" and "PT". Store the solution in a variable named "medical_pt"

In [80]:
medical_pt = (med_total*pt_total)/total
medical_pt

1622.021695217608

In [81]:
# Your code here: Compute Expected frequency of being "Other" and "FT". Store the solution in a variable named "other_ft"

In [82]:
other_ft = (other_total*ft_total)/total
other_ft

17794.430966184842

In [83]:
# Your code here: Compute Expected frequency of being "Other" and "PT". Store the solution in a variable named "other_pt"

In [84]:
other_pt = (other_total*pt_total)/total
other_pt

12576.569033815158

In [85]:
# Your code here: Compute Expected frequency of being "Policement" and "FT". Store the solution in a variable named "policemen_ft"

In [86]:
policemen_ft = (pol_total*ft_total)/total
policemen_ft

1113.7997848841785

In [87]:
# Your code here: Compute Expected frequency of being "Policement" and "PT". Store the solution in a variable named "policemen_pt"

In [88]:
policemen_pt = (pol_total*pt_total)/total
policemen_pt

787.2002151158215

* Store all the expected frequencies of "FT" employees in a list 
* Store all the "PT" employees into another list
* Create a dictionary with "FT" and "PT" as keys and as the values use the previous lists
* Create a dataframe with this dictionary using pd.DataFrame()

In [89]:
# Your code here:

In [90]:
ft_employees = [firemen_ft, lawyers_ft, medical_ft, other_ft, policemen_ft]
pt_employees = [firemen_pt, lawyers_pt, medical_pt, other_pt, policemen_pt]

ft_vs_pt = {"FT":ft_employees, "PT":pt_employees}
    
ft_vs_pt

{'FT': [885.2979878800598,
  245.4929562685275,
  2294.978304782392,
  17794.430966184842,
  1113.7997848841785],
 'PT': [625.7020121199402,
  173.5070437314725,
  1622.021695217608,
  12576.569033815158,
  787.2002151158215]}

In [91]:
frequencies = pd.DataFrame(ft_vs_pt)
frequencies

             FT            PT
0    885.297988    625.702012
1    245.492956    173.507044
2   2294.978305   1622.021695
3  17794.430966  12576.569034
4   1113.799785    787.200215

Now use the "st.chi2_contingency()" from scipy.stats [documentation here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) to conduct a Chi2 test to determine if the diferences between employee groups are statistically significant using a 95% confidence level. Hint: fill the function with a dataframe of actual frequencies.

In [92]:
# Your code here: (use the st.chi2_contingency() function from scipy.stats to compute:
# The Chi2 value
# The p-valueYea we 
# The expected frequencies.
# Ho: there is no relationship
# Ha: there is relationship differences
# p_value = P(table | Ho) = P(table | no relationship) = 1.51e-6 < 0.05

In [93]:
from scipy.stats import chi2_contingency

In [94]:
chi2_contingency(data_jobs)

(2676.642333711905,
 0.0,
 4,
 array([[  885.29798788,   625.70201212],
        [  245.49295627,   173.50704373],
        [ 2294.97830478,  1622.02169522],
        [17794.43096618, 12576.56903382],
        [ 1113.79978488,   787.20021512]]))

Check if your expected frequencies aggree with the ones obtained with the st.chi2_contingency() function

In [95]:
frequencies

             FT            PT
0    885.297988    625.702012
1    245.492956    173.507044
2   2294.978305   1622.021695
3  17794.430966  12576.569034
4   1113.799785    787.200215

They do!